.App-header {
  padding: 1em 0 0.5em 0;
  font-size: 2.5em;
  text-align: center;
}

.App-logo {
  width: 60%;
}

.App-main {
  font-size: 2rem;
  padding: 3rem 2rem 2rem 2rem;
}

.timer-form {
  background: #ffffff12;
  border: 2px solid #ffffffc2;
  border-radius: 12px;
  padding: 2rem;
}

.time-picker-input-label {
  display: block;
  margin-bottom: 1.5rem;
  width: 100%;
}

[type="submit"] {
  width: 100%;
}

.timer-value-explanation {
  font-size: 1.8rem;
}

.time-picker-input-wrapper {
  margin-bottom: 2.5rem;  
}

.Input {
  background: #00000014;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffffc2;
  border-radius: 6px;

  color: white;
  font-size: 2rem;
  text-align: center;
  
  width: 30%;
  height: 3rem;
  margin-right: 1rem;
}

.Button {
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;

  background: #fff;
  border-radius: 12px;
  color: #6e5cd7;
}

@media (min-width: 600px) {

  .App-header {
    padding: 4rem 0 2rem 0;
  }
  
  .App-logo {
    width: 10em;
  }

  .timer-form {
    margin: 0 auto;
    width: 60%;
  }
}

.App-visuals {
  height: 90vh;
  width: 80vw;
}
